body {

	background-color: rgb(234, 240, 249);
}

#thumbnail{

	padding: 1em;
	
}

#thumbnail h4 {

	padding-left: 30px ;
}


#navborder{

	background-color: rgb(56, 46, 34);

}

#aboutusborder {

	border-right: 1px solid rgb(212, 215, 219);
	height: 50px;

}

.align {

		
	
	padding-right: 1em;
	margin: 1em;
}

.navbar {

	height: 80px;
}

.navbar-brand{

	font-size: 30px;
	
	margin: 10px;

}

.carousel slide {

	height: 50px;
	opacity: 0.1;
}

#navfooter {

	background-color: rgb(56, 46, 34);
	color: white;
	height:;
	width:103%;
   	margin-left:-20px;
	padding-bottom: 15px;
	
}



ul {

	list-style-type: none;

}

#inline li{

	display: inline-block;
	margin: 1em;

}




#newsbackground {

	background-color: white;
	margin-bottom: 1em;
	

}

.col-md-8 {

	border-right: 1px solid black;

}

#placement  {

	padding: 5em;
	text-align: left;
}

#position {

	margin: 2em;
}

#headingplacement h3{

	margin-left: 30px;
}

